* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
  color: #FFFFFF;
}

body {
  height: 146.9rem;
  background-color: #0E1323;
  align-content: center;
}
@media screen and (min-width: 48em) {
  body {
    width: 100%;
    height: 102.4rem;
  }
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.container__item {
  display: flex;
  align-items: flex-end;
  border-radius: 1.6rem;
  position: relative;
  overflow: hidden;
}
.container__item img {
  width: 7.8rem;
  aspect-ratio: 1/1;
  position: absolute;
  transform: translate(23.2rem, -9.2rem);
}
@media screen and (min-width: 48em) {
  .container__item img {
    width: 5.7rem;
    transform: translate(11.9rem, -16.4rem);
  }
}
@media screen and (min-width: 64em) {
  .container__item img {
    width: 7.8rem;
    transform: translate(15.7rem, -17.5rem);
  }
}
.container__item .container__data {
  width: 32.7rem;
  height: 12.2rem;
  background-color: #1C204B;
  border-radius: 1.6rem;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  z-index: 1;
}
@media screen and (min-width: 48em) {
  .container__item .container__data {
    height: 18rem;
    gap: 1.6rem;
  }
}
@media screen and (min-width: 64em) {
  .container__item .container__data {
    height: 19.9rem;
    padding: 3.2rem;
    gap: 2.4rem;
  }
}
.container__item .container__data .container__activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;
  letter-spacing: 0rem;
}
.container__item .container__data .combined {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}
.container__item .container__data .combined::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #D8D8D8;
  box-shadow: -1rem 0 0 #D8D8D8, -2rem 0 0 #D8D8D8;
}
.container__item .container__data .oval {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #D8D8D8;
}
.container__item .container__data .stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 48em) {
  .container__item .container__data .stats {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
  }
}
.container__item .container__data .stats .hrs {
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 3.8rem;
  letter-spacing: 0rem;
}
@media screen and (min-width: 48em) {
  .container__item .container__data .stats .hrs {
    font-weight: 300;
    font-size: 5.6rem;
    line-height: 6.6rem;
    letter-spacing: 0rem;
  }
}
.container__item .container__data .stats .time {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: 0rem;
  color: #BBC0FF;
}
.container__item .container__data:hover {
  background-color: #33397A;
}

main {
  width: 35rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 32.7rem;
  grid-template-rows: 20.3rem repeat(6, 16rem);
  gap: 2.4rem;
  justify-content: center;
}
@media screen and (min-width: 48em) {
  main {
    width: 61.2rem;
    grid-template-columns: repeat(3, 18.8rem);
    grid-template-rows: repeat(3, 21.3rem);
  }
}
@media screen and (min-width: 64em) {
  main {
    width: -moz-fit-content;
    width: fit-content;
    grid-template-columns: repeat(4, 25.5rem);
    grid-template-rows: repeat(2, 24.4rem);
    gap: 3.2rem;
  }
}
main .container__report {
  background-color: #1C204B;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
@media screen and (min-width: 48em) {
  main .container__report {
    height: 20.3rem;
    grid-column: span 3/span 3;
  }
}
@media screen and (min-width: 64em) {
  main .container__report {
    height: 100%;
    grid-column: span 1/span 1;
    grid-row-end: span 2;
  }
}
main .container__report .container__options {
  width: 100%;
  height: 13.3rem;
  background-color: #5747EA;
  border-radius: 1.6rem;
  padding: 3.2rem;
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  align-items: center;
}
@media screen and (min-width: 64em) {
  main .container__report .container__options {
    flex-direction: column;
    align-items: flex-start;
  }
}
main .container__report .container__options .container__img {
  width: 6.4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
}
@media screen and (min-width: 64em) {
  main .container__report .container__options .container__img {
    width: 7.8rem;
    aspect-ratio: 1/1;
  }
}
main .container__report .container__options .container__img img {
  width: 100%;
  height: 100%;
  border: 0.3rem solid white;
  border-radius: 50%;
}
main .container__report .container__options .container__name {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
main .container__report .container__options .container__name p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: 0rem;
  color: #BBC0FF;
}
main .container__report .container__options .container__name h1 {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: 0rem;
}
@media screen and (min-width: 64em) {
  main .container__report .container__options .container__name h1 {
    font-weight: 300;
    font-size: 4rem;
    line-height: 4.7rem;
    letter-spacing: 0rem;
  }
}
@media screen and (min-width: 64em) {
  main .container__report .container__options {
    height: 35.4rem;
  }
}
main .container__report .selector {
  display: flex;
  justify-content: space-evenly;
}
main .container__report .selector .action {
  border: none;
  background-color: #1C204B;
  color: #7078C9;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  letter-spacing: 0rem;
}
main .container__report .selector .action.active {
  color: #FFFFFF;
}
@media screen and (min-width: 64em) {
  main .container__report .selector {
    flex-direction: column;
    padding: 0 3.2rem 3.2rem 3.2rem;
    gap: 2.1rem;
    align-items: flex-start;
  }
}
main .work {
  background-color: #FF8B64;
}
@media screen and (min-width: 48em) {
  main .work {
    grid-row-start: 2;
  }
}
@media screen and (min-width: 64em) {
  main .work {
    grid-column: 2;
    grid-row: 1;
  }
}
main .play {
  background-color: #55C2E6;
}
@media screen and (min-width: 48em) {
  main .play {
    grid-row-start: 2;
  }
}
@media screen and (min-width: 64em) {
  main .play {
    grid-column: 3;
    grid-row: 1;
  }
}
main .study {
  background-color: #FF5E7D;
}
@media screen and (min-width: 48em) {
  main .study {
    grid-row-start: 2;
  }
}
@media screen and (min-width: 64em) {
  main .study {
    grid-column: 4;
    grid-row: 1;
  }
}
main .exercise {
  background-color: #4BCF82;
}
@media screen and (min-width: 48em) {
  main .exercise {
    grid-row-start: 3;
  }
}
@media screen and (min-width: 64em) {
  main .exercise {
    grid-column: 2;
    grid-row: 2;
  }
}
main .social {
  background-color: #7335D2;
}
@media screen and (min-width: 48em) {
  main .social {
    grid-row-start: 3;
  }
}
@media screen and (min-width: 64em) {
  main .social {
    grid-column: 3;
    grid-row: 2;
  }
}
main .selfCare {
  background-color: #F1C75B;
}
@media screen and (min-width: 48em) {
  main .selfCare {
    grid-row-start: 3;
  }
}
@media screen and (min-width: 64em) {
  main .selfCare {
    grid-column: 4;
    grid-row: 2;
  }
}/*# sourceMappingURL=main.css.map */