@use './base/base';
@use './base/utils' as *;
@use './components/cards';


main {
    width: 350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 327px;
    grid-template-rows: 203px repeat(6, 160px);
    gap: 24px;
    justify-content: center;

    @include tablet() {
        width: 612px;
        grid-template-columns: repeat(3, 188px);
        grid-template-rows: 213px repeat(2, 213px);
    }

    @include desktop() {
        width: fit-content;
        grid-template-columns: repeat(4, 255px);
        grid-template-rows: repeat(2, 244px);
        gap: 32px;
    }


    .container__report {
        background-color: $color-navy-900;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include tablet() {
            height: 203px;
            grid-column: span 3 / span 3;
        }

        @include desktop() {
            height: 100%;
            grid-column: span 1 / span 1;
            grid-row-end: span 2;
        }

        .container__options {
            width: 100%;
            height: 133px;
            background-color: $color-purple-600;
            border-radius: 15px;
            padding: 32px;
            display: flex;
            gap: 24px;
            align-items: center;

            @include desktop() {
                flex-direction: column;
                align-items: flex-start;
            }

            .container__img {
                width: 64px;
                height: 64px;
                overflow: hidden;

                @include desktop() {
                    width: 78px;
                    height: 78px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border: 3px solid white;
                    border-radius: 50%;
                }
            }

            .container__name {
                display: flex;
                flex-direction: column;
                gap: 8px;

                p {
                    @include text-preset-6();
                    color: $color-navy-200;
                }

                h1 {
                    @include text-preset-4();

                    @include desktop() {
                        @include text-preset-2();
                    }
                }
            }

            @include desktop() {
                height: 354px;
            }
        }

        .selector {
            display: flex;
            justify-content: space-evenly;
            color: $color-purple-500;
            @include text-preset-5-regular();

            @include desktop() {
                flex-direction: column;
                padding: 0 32px 32px 32px;
                gap: 21px;
            }
        }
    }

    .work {
        background-color: $color-orange;

        @include tablet() {
            grid-row-start: 2;
        }

        @include desktop() {
            grid-column: 2;
            grid-row: 1;
        }
    }

    .play {
        background-color: $color-blue;

        @include tablet() {
            grid-row-start: 2;
        }

        @include desktop() {
            grid-column: 3;
            grid-row: 1;
        }

    }

    .study {
        background-color: $color-pink;

        @include tablet() {
            grid-row-start: 2;
        }

        @include desktop() {
            grid-column: 4;
            grid-row: 1;
        }
    }

    .exercise {
        background-color: $color-green;

        @include tablet() {
            grid-row-start: 3;
        }

        @include desktop() {
            grid-column: 2;
            grid-row: 2;
        }
    }

    .social {
        background-color: $color-purple-700;

        @include tablet() {
            grid-row-start: 3;
        }

        @include desktop() {
            grid-column: 3;
            grid-row: 2;
        }
    }

    .selfCare {
        background-color: $color-yellow;

        @include tablet() {
            grid-row-start: 3;
        }

        @include desktop() {
            grid-column: 4;
            grid-row: 2;
        }
    }

}