@use '../base/utils' as *;

.container__item {
    display: flex;
    align-items: flex-end;
    border-radius: $space-16;
    position: relative;
    overflow: hidden;

    img {
        width: 7.8rem;
        aspect-ratio: 1/1;
        position: absolute;
        transform: translate(23.2rem, -9.2rem);

        @include tablet() {
            width: 5.7rem;
            transform: translate(11.9rem, -16.4rem);
        }

        @include desktop() {
            width: 7.8rem;
            transform: translate(15.7rem, -17.5rem);
        }
    }

    .container__data {
        width: 32.7rem;
        height: 12.2rem;
        background-color: $color-navy-900;
        border-radius: $space-16;
        padding: $space-24;
        @include flexbox(column, $space-8);
        z-index: 1;

        @include tablet() {
            height: 18rem;
            gap: $space-16;
        }

        @include desktop() {
            height: 19.9rem;
            padding: $space-32;
            gap: $space-24;
        }

        .container__activity {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include text-preset-5-medium();
        }


        .combined {
            @include flexbox(row, 0.3rem);
        }

        .combined::after {
            content: "";
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background-color: $color-grey;
            box-shadow: -1rem 0 0 $color-grey,
                -2rem 0 0 $color-grey;
        }

        .oval {
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background-color: $color-grey;
        }

        .stats {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include tablet() {
                flex-direction: column;
                align-items: flex-start;
                gap: $space-8;
            }

            .hrs {
                @include text-preset-3();

                @include tablet() {
                    @include text-preset-1();
                }
            }

            .time {
                @include text-preset-6();
                color: $color-navy-200;
            }
        }

        &:hover {
            background-color: $color-navy-800;
        }
    }
}