@use './variables' as *;
@use './mixins' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Rubik", sans-serif;
    font-size: 62.5%;
    color: $color-white;
}

body {
    height: 146.9rem;
    background-color: $color-navy-950;
    align-content: center;

    @include tablet() {
        width: 100%;
        height: 102.4rem;
    }
}

button,
input,
select,
textarea {
    font-family: inherit;
}