@use './variables' as *;

@mixin text-preset-1() {
    font-weight: $font-weight-light;
    font-size: $font-size-56;
    line-height: $line-height-66;
    letter-spacing: $letter-spacing-0;
}

@mixin text-preset-2() {
    font-weight: $font-weight-light;
    font-size: $font-size-40;
    line-height: $line-height-47;
    letter-spacing: $letter-spacing-0;
}

@mixin text-preset-3() {
    font-weight: $font-weight-light;
    font-size: $font-size-32;
    line-height: $line-height-38;
    letter-spacing: $letter-spacing-0;
}

@mixin text-preset-4() {
    font-weight: $font-weight-light;
    font-size: $font-size-24;
    line-height: $line-height-18;
    letter-spacing: $letter-spacing-0;
}

@mixin text-preset-5-medium() {
    font-weight: $font-weight-medium;
    font-size: $font-size-18;
    line-height: $line-height-21;
    letter-spacing: $letter-spacing-0;
}

@mixin text-preset-5-regular() {
    font-weight: $font-weight-regular;
    font-size: $font-size-18;
    line-height: $line-height-21;
    letter-spacing: $letter-spacing-0;
}

@mixin text-preset-6() {
    font-weight: $font-weight-regular;
    font-size: $font-size-15;
    line-height: $line-height-18;
    letter-spacing: $letter-spacing-0;
}


@mixin tablet {
    @media screen and (min-width: 48em) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 64em) {
        @content;
    }
}

@mixin flexbox($direction, $gap) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}