$color-white: #FFFFFF;
$color-black: #000000;
$color-navy-950: #0E1323;
$color-navy-900: #1C204B;
$color-navy-800: #33397A;
$color-navy-200: #BBC0FF;
$color-orange: #FF8B64;
$color-purple-700: #7335D2;
$color-purple-600: #5747EA;
$color-purple-500: #7078C9;
$color-blue: #55C2E6;
$color-pink: #FF5E7D;
$color-green: #4BCF82;
$color-yellow: #F1C75B;
$color-grey: #D8D8D8;
$font-size-56: 5.6rem;
$font-size-40: 4rem;
$font-size-32: 3.2rem;
$font-size-24: 2.4rem;
$font-size-18: 1.8rem;
$font-size-15: 1.5rem;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$line-height-66: 6.6rem;
$line-height-47: 4.7rem;
$line-height-38: 3.8rem;
$line-height-28: 2.8rem;
$line-height-21: 2.1rem;
$line-height-18: 1.8rem;
$letter-spacing-0: 0rem;
$space-8: 0.8rem;
$space-16: 1.6rem;
$space-24: 2.4rem;
$space-32: 3.2rem;
$space-40: 4rem;